@media print {

  /* 页边距 */
  @page {
    margin: 20mm 20mm !important; 
  }

  body,
  p,
  li {
    /* 行间距 */
    line-height: 1.2;
    /* 字体 */
    /* font-family: Avenir next, -apple-system, "Segoe UI", "Helvetica Neue", sans-serif; */
    /* 段后间距 */
    padding-bottom: 1.2px;
  }

  /* callouts行间距 */
  div.callout-title-inner {
    line-height: 1.2;
  }

  /* 首行缩进 */
  p {
    text-indent: 2em;
  }

  /* 标题居中 */
  h1 {
    text-align: center;
  }

  /* 标题防页面截断、标题段落间距 */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    padding: 8px 0;
  }

  img {
    display: block !important;
    margin: 0 auto !important;
    max-width: 100%;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: var(--background-secondary);
    /* Background color so PNGs with transparent backgrounds don't look weird */
  }

  .markdown-source-view.mod-cm6 .cm-content>img {
    margin: 0 auto !important;
  }

  a img {
    border: none
  }

  /* 表格居中 */
  table {
    margin: 1px;
    width: 100%;
    border-collapse: collapse;
  }

  /* 表格文字居中 */
  table,
  tr,
  th,
  td {
    text-align: center !important;
  }

  .mermaid,  h1{
 text-align: center !important;
  }

  div>[class^="language-"] {
    display: block !important;
    margin: 0 auto !important;
    width: 100%;
  }

  /* 首行缩进 */
  .view-content p {
    text-indent: 2em;
  }


}